@page "/"
@rendermode InteractiveServer
@using Microsoft.AspNetCore.SignalR.Client;
@inject NavigationManager Navigation;
@using WebApp.Components.SubComponents;
@implements IAsyncDisposable
@using Microsoft.Extensions.Options;
@inject DataFetcherService dataFetcherService;


<PageTitle>IeCAG - Cryptocurrencies</PageTitle>

<h1>Prices</h1>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var priceEntry in priceEntries)
        {
            <tr @onclick="(() => RedirectToCryptocurrency(priceEntry.PartitionKey))" style="cursor: pointer;" title="Klicken, um Details von @priceEntry.PartitionKey anzuzeigen">
                <td>@priceEntry.PartitionKey</td>
                <td>@priceEntry.price</td>
            </tr>
        }
    </tbody>
</table>

@code {
    PriceChart priceChart;

    private List<CoinPrice> priceEntries = new List<CoinPrice>();
    private HubConnection? hubConnection;

    protected override async Task OnInitializedAsync()
    {

        priceEntries = await dataFetcherService.FetchAllCurrentPrices();
        
        



        // Connect to the SignalR PriceHub
        hubConnection = new HubConnectionBuilder()
            .WithUrl(Navigation.ToAbsoluteUri("/priceshub"))
            .Build();

        hubConnection.On<string, double>("ReceivePriceUpdate", async (name, price) =>
        {
            var existingEntry = priceEntries.FirstOrDefault(entry => entry.PartitionKey == name);
            if (existingEntry != null)
            {
                existingEntry.price = price; // Aktualisiere den Preis des vorhandenen Eintrags
                if (name.Equals("Bitcoin"))
                {
                    //await priceChart.UpdateChart(DateTime.Now, (decimal)price);
                }
            }
            else
            {
                priceEntries.Add(new CoinPrice { PartitionKey = name, price = price }); // Füge einen neuen Eintrag hinzu, wenn das Name noch nicht vorhanden ist
            }
            InvokeAsync(StateHasChanged);
        });

        await hubConnection.StartAsync();
    }

    public bool IsConnected =>
        hubConnection?.State == HubConnectionState.Connected;

    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
    }


    private void RedirectToCryptocurrency(string name)
    {
        Navigation.NavigateTo($"cryptocurrencies/{name}");
    }
}