<!-- In deiner Blazor-Komponente -->
<div>
    <canvas id="priceChart"></canvas>
</div>



<script>
    window.createPriceChart = (labels, data) => {
        var ctx = document.getElementById('priceChart').getContext('2d');
        var myChart = new Chart('priceChart', {
            type: 'line',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Price',
                    data: data,
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    borderColor: 'rgba(255, 99, 132, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: false
                    },
                    x: {
                        type: 'time',
                        time: {
                            unit: 'minute',
                            displayFormats: {
                                minute: 'HH:mm'
                            }
                        }
                    }
                },
                plugins: {
                    zoom: {
                        zoom: {
                            wheel: {
                                enabled: true,
                            },
                            pinch: {
                                enabled: true
                            },
                            mode: 'xy'
                        }
                    }
                }
            }
        });
    };

    window.addData = (chartId, labels, newData) => {
        console.log('addData function is executing.'); // Log für Ausführung der Funktion
        try {
            var chart = document.getElementById('priceChart').getContext('2d');
            console.log(chart);
            chart.config.data.labels = labels;
            chart.config.data.datasets[0].data = newData;
            chart.update();
        } catch (error) {
            console.error('An error occurred in addData function:', error); // Fehlermeldung in der Konsole anzeigen
        }
    }
</script>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("createPriceChart", Prices.Keys.ToArray(), Prices.Values.ToArray());
        }
    }


    public async Task CreatePriceChart()
    {
        if (Prices != null && Prices.Count > 0)
        {
            await JSRuntime.InvokeVoidAsync("createPriceChart", Prices.Keys.ToArray(), Prices.Values.ToArray());
        }
    }

    public async Task UpdateChart(DateTime dateTime, decimal price)
    {
        Prices.Add(dateTime, (decimal)price);
        // Erstelle ein neues Diagramm mit den aktualisierten Preisen
        await JSRuntime.InvokeVoidAsync("addData", "priceChart", Prices.Keys.ToArray(), Prices.Values.ToArray());
    }



    [Inject]
    public IJSRuntime JSRuntime { get; set; }

    [Parameter] public Dictionary<DateTime, decimal> Prices { get; set; }
}