@page "/logout"
@using Microsoft.AspNetCore.Authentication
@inject NavigationManager navigationManager
@inject TelemetryClient telemetryClient
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>IeCAG - Logout</PageTitle>

<div clas="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body flex-column">
                <div class="text-center mt-2">
                    <span class="text-danger fw-bolder">You've successfully logged out of the application.</span>
                </div>
            </div>
        </div>
    </div>
</div>


@code {
    [CascadingParameter]
    public HttpContext HttpContext{ get; set; }

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        string username = user.Identity?.Name;
        telemetryClient.Context.User.Id = username;
        telemetryClient.TrackPageView("Logout");
        await telemetryClient.FlushAsync(CancellationToken.None);

        await base.OnInitializedAsync();
        if (HttpContext.User.Identity.IsAuthenticated)
        {
            await HttpContext.SignOutAsync();
            navigationManager.NavigateTo("/logout", true);
        }
    }

}
