@rendermode InteractiveServer

<div class="chart-container" style="position: relative; height:@Height; width:@Width; padding:27px; box-shadow: 0 7px 25px rgba(0,0,0,0.6); border-radius:25px; margin:10px; background: #2B3036;">
    <span class="badge text-bg-primary" style="position: absolute; top: 10px; left: 10px;">Allocation</span>
    <canvas id="@Name"></canvas>
</div>
    


<script>
    var DoughnutChart;
    createDoughnutChart = (chartID, labels, data) => {
        DoughnutChart = new Chart(document.getElementById(chartID), {
            type: 'doughnut',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Values',
                    data: data,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                maintainAspectRatio: false,
            }
        });
    };

    updateDoughnutChart = (labels, newData) => {
        try {
            DoughnutChart.data.labels = labels;
            DoughnutChart.data.datasets.forEach((dataset) => {
                dataset.data = newData;
            });
            DoughnutChart.update();
        } catch (error) {
            console.error('An error occurred in updateDoughnutChart function:', error);
        }
    };

    updateDoughnutChartWithValue = (label, newValue) => {
        try {
            const index = DoughnutChart.data.labels.indexOf(label);
            if (index !== -1) {
                DoughnutChart.data.datasets[0].data[index] = newValue;
                DoughnutChart.update();
            } else {
                console.error('Label not found in the chart data');
            }
        } catch (error) {
            console.error('An error occurred in updateDoughnutChart function:', error);
        }
    };
</script>



@code {
    private bool _isRendered;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _isRendered = true;
            await JSRuntime.InvokeVoidAsync("createDoughnutChart", Name, DataList.Select(kv => kv.Key.ToString()).ToArray(), DataList.Select(kv => kv.Value).ToArray());
        }
    }

    public async Task UpdateChart(string label, double value)
    {
        // Add the new data point or update the existing one
        var existingData = DataList.FirstOrDefault(kv => kv.Key == label);
        if (!existingData.Equals(default(KeyValuePair<string, double>)))
        {
            // Update the existing data point
            DataList.Remove(existingData);
            DataList.Add(new KeyValuePair<string, double>(label, value));
        }
        else
        {
            // Add a new data point
            DataList.Add(new KeyValuePair<string, double>(label, value));
        }

        // Create a new chart with the updated data
        await JSRuntime.InvokeVoidAsync("updateDoughnutChartWithValue", label, value);
    }

    public async Task UpdateChart()
    {
        if (_isRendered)
        {
            await JSRuntime.InvokeVoidAsync("updateDoughnutChart", DataList.Select(kv => kv.Key).ToArray(), DataList.Select(kv => kv.Value).ToArray());
        }
    }

    [Inject]
    public IJSRuntime JSRuntime { get; set; }

    private string _name;

    [Parameter]
    public string Name
    {
        get => _name;
        set
        {
            // Check if the value is not empty
            if (!string.IsNullOrEmpty(value))
            {
                // Set the value and add "doughnutChart[]" to it
                _name = $"doughnutChart{value}";
            }
        }
    }

    [Parameter]
    public string Width { get; set; } = "50vw";

    [Parameter]
    public string Height { get; set; } = "50vh";

    [Parameter] public List<KeyValuePair<string, double>> DataList { get; set; }
}
