@rendermode InteractiveServer

<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="@ToastId" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <img src="favicon.png" class="rounded me-2" alt="favicon.png" style="width: 20px; height: 20px;">
            <strong class="me-auto">IeCAG</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            @Message
        </div>
    </div>
</div>


@code {
    [Parameter]
    public string Message { get; set; } = "";

    [Parameter]
    public string ToastId { get; set; }
}
